* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 0.5%;
    font-family: 'Montserrat', sans-serif;
}

.layout-css {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(213, 221, 221);
}

.header-css {
    width: 90%;
    background-color: rgb(213, 221, 221);;
    display: flex;
    font-size: 26px;
}

.header-css2 {
    width: 90%;
    background-color: rgb(213, 221, 221);;
    display: flex;
    font-size: 26px;
}

.content-css {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.buttom-css {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color:rgb(227, 228, 235);

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(68, 68, 68);
}
.buttom-alg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-css {
    justify-content: 'center';
    display: flex;
    font-size: 16px;
    background-color: rgb(213, 221, 221);
}

.txt3 {
    font-size: 16px;
    color: rgb(8, 8, 8);
    line-height: 1.5;
    text-decoration: none;
    text-align: right;
    margin-left: 5%;
}

.painel {
    margin-left: 24.3%;
}

.painel-position {
    width: 10%;
    display: flex;

}
